<div ng-controller="MainCtrl" ng-init="init()">

<head>
<style> 
body {
    background-image: url("http://www.qis.net/~captain/custom/bkground.jpg");
    }
</style>
</head>

<div class="jumbotron">

  <div class="row">

    <div class="col-sm-9">
          <div class="form-group">

          <h1>INTELIGENCIA BASADA EN DATOS</h1>  
          <blockquote>"Una computadora puede ser llamada inteligente si logra engañar a una persona haciéndole creer que es un humano." — Alan Turing</blockquote>   

        </div>
        </div>

    <div class="col-sm-3">
      <div class="form-group">
        <img src='./views/escudo_ejercito.png' style="width:224px;height:228px;">
      </div>
       </div>

  </div>

<div class="row">

  <div class="col-sm-3">
  <div class="form-group">
    <a ng-href="#/mapa"><button type = "button" class = "btn btn-primary btn-lg">Mapa de Calor</button></a>
  </div>
  </div>

  <div class="col-sm-3">
  <div class="form-group">
    <a ng-href="#/grafo_conocidos"><button type = "button" class = "btn btn-primary btn-lg">Red de Conocidos</button></a>
  </div>
  </div>


  <div class="col-sm-3">
  <div class="form-group">
    <a ng-href="#/actividades"><button type = "button" class = "btn btn-primary btn-lg" >Actividades Frente</button></a>
  </div>
  </div>


  
  <div class="col-sm-3">
  <div class="form-group">
    <a ng-href="#/grafo_actividades"><button type = "button" class = "btn btn-primary btn-lg" >Grafo Actividades</button></a>
  </div>
  </div>

  </div>

</div>


</div>




