<div ng-controller="MapaCtrl" ng-init="init()">

    <h2>Mapa de Calor</h2>
	<div style="width:100%; height: 40px; background-color: white;"></div>
	<div>
	    <p style="size:12px">Tipo de Mapa:</p>
	    <div class="col-xs-2">
	    	<select ng-change="darMapaCalor()" ng-model="tipo">
				<option>Mapa de Calor</option>
  				<option>Marcadores</option>
			</select>
		</div>
		<div class="col-xs-2"><button type="button" class="btn btn-primary btn-md" ng-click="limpiarTodo()">Limpiar</button></div>
	</div>
	<div style="width:100%; height: 40px; background-color: white;"></div>

    <div class="table_container">
	  <div class="row">
	  	<div class="title_actividad">
			<h2><em>{{nombre_delito}}</em></h2>
	  	</div>
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h4>
	            Palabras Clave
	          </h4>
	        </div>
	        <table class="table table-fixed">
	          <tbody>
	            <tr ng-repeat="x in actividades">
		   			<td class="col-xs-12" ng-click="darMapaCalor(x)">{{x}}</td>	
		   		</tr>
	          </tbody>
	        </table>
	      </div>
	  </div>
	  <div class="map_container">
	  	  <div id="legend"></div>
		  <div id="map"></div>
	  </div>
	</div>

</div>
